<div class="portfolio right-sec js-portfolio">
  <a href="app/ui/images/art/arm.jpg">
    <img class="portfolio-img" src="app/ui/images/art/thumbs/arm.jpg"/>
  </a>
  <a href="app/ui/images/art/animation.jpg">
    <img class="portfolio-img" src="app/ui/images/art/thumbs/animation.jpg"/>
  </a>
  <a href="app/ui/images/art/collage1.jpg">
    <img class="portfolio-img" src="app/ui/images/art/thumbs/collage1.jpg"/>
  </a>
  <a href="app/ui/images/art/collage2.jpg">
    <img class="portfolio-img" src="app/ui/images/art/thumbs/collage2.jpg"/>
  </a>
  <a href="app/ui/images/art/collage3.jpg">
    <img class="portfolio-img" src="app/ui/images/art/thumbs/collage3.jpg"/>
  </a>
  <a href="app/ui/images/art/figure1.jpg">
    <img class="portfolio-img" src="app/ui/images/art/thumbs/figure1.jpg"/>
  </a>
  <a href="app/ui/images/art/figure2.jpg">
    <img class="portfolio-img" src="app/ui/images/art/thumbs/figure2.jpg"/>
  </a>
  <a href="app/ui/images/art/figure3.jpg">
    <img class="portfolio-img" src="app/ui/images/art/thumbs/figure3.jpg"/>
  </a>
  <a href="app/ui/images/art/figure4.jpg">
    <img class="portfolio-img" src="app/ui/images/art/thumbs/figure4.jpg"/>
  </a>
  <a href="app/ui/images/art/head.jpg">
    <img class="portfolio-img" src="app/ui/images/art/thumbs/head.jpg"/>
  </a>
  <a href="app/ui/images/art/shining.jpg">
    <img class="portfolio-img" src="app/ui/images/art/thumbs/shining.jpg"/>
  </a>
  <a href="app/ui/images/art/star_wars.jpg">
    <img class="portfolio-img" src="app/ui/images/art/thumbs/star_wars.jpg"/>
  </a>
</div>