<aside class="sidebar">
  <header class="header">
    <h1 class="header-main">Gabby<br />Defonso</h1>
    <h2 class="header-sub">Art + Photography</h2>
    <img class="header-img" src="app/ui/images/profile-img.png" title="Gabby Defonso"/>
  </header>
  <nav class="nav">
    <a class="nav-link" href="./">Home</a>
    <a class="nav-link" href="./art">Art</a>
    <a class="nav-link" href="./photography">Photography</a>
    <a class="nav-link" href="./design">Design</a>
    <a class="nav-link" href="./about">About</a>
  </nav>
</aside>