<section id="work" class="work">
	<div class="work__wrap">
		<aside class="work__aside work__col">
			<h1 class="work__header">Work</h1>
			<a class="work__close-bt" href="#home" title="Close work section">&times;</a>
		</aside>
		<article class="work__main work__col">
			<figure class="work__main__figure">
				<img class="work__main__img" src="http://placehold.it/150x250" alt=""/>
				<figcaption class="work__main__caption">
					<div class="work__main__caption__text">Example</div>
				</figcaption>
			</figure>
			<figure class="work__main__figure">
				<img class="work__main__img" src="http://placehold.it/150x200" alt=""/>
				<figcaption class="work__main__caption">
					<div class="work__main__caption__text">Example</div>
				</figcaption>
			</figure>
			<figure class="work__main__figure">
				<img class="work__main__img" src="http://placehold.it/200x150" alt=""/>
				<figcaption class="work__main__caption">
					<div class="work__main__caption__text">Example</div>
				</figcaption>
			</figure>
			<figure class="work__main__figure">
				<img class="work__main__img" src="http://placehold.it/150x250" alt=""/>
				<figcaption class="work__main__caption">
					<div class="work__main__caption__text">Example</div>
				</figcaption>
			</figure>
			<figure class="work__main__figure">
				<img class="work__main__img" src="http://placehold.it/150x200" alt=""/>
				<figcaption class="work__main__caption">
					<div class="work__main__caption__text">Example</div>
				</figcaption>
			</figure>
			<figure class="work__main__figure">
				<img class="work__main__img" src="http://placehold.it/100x150" alt=""/>
				<figcaption class="work__main__caption">
					<div class="work__main__caption__text">Example</div>
				</figcaption>
			</figure>
			<figure class="work__main__figure">
				<img class="work__main__img" src="http://placehold.it/150x250" alt=""/>
				<figcaption class="work__main__caption">
					<div class="work__main__caption__text">Example</div>
				</figcaption>
			</figure>
			<figure class="work__main__figure">
				<img class="work__main__img" src="http://placehold.it/150x200" alt=""/>
				<figcaption class="work__main__caption">
					<div class="work__main__caption__text">Example</div>
				</figcaption>
			</figure>
			<figure class="work__main__figure">
				<img class="work__main__img" src="http://placehold.it/200x150" alt=""/>
				<figcaption class="work__main__caption">
					<div class="work__main__caption__text">Example</div>
				</figcaption>
			</figure>
			<figure class="work__main__figure">
				<img class="work__main__img" src="http://placehold.it/100x150" alt=""/>
				<figcaption class="work__main__caption">
					<div class="work__main__caption__text">Example</div>
				</figcaption>
			</figure>
			<figure class="work__main__figure">
				<img class="work__main__img" src="http://placehold.it/150x200" alt=""/>
				<figcaption class="work__main__caption">
					<div class="work__main__caption__text">Example</div>
				</figcaption>
			</figure>
			<figure class="work__main__figure">
				<img class="work__main__img" src="http://placehold.it/200x150" alt=""/>
				<figcaption class="work__main__caption">
					<div class="work__main__caption__text">Example</div>
				</figcaption>
			</figure>
			<figure class="work__main__figure">
				<img class="work__main__img" src="http://placehold.it/150x200" alt=""/>
				<figcaption class="work__main__caption">
					<div class="work__main__caption__text">Example</div>
				</figcaption>
			</figure>
			<figure class="work__main__figure">
				<img class="work__main__img" src="http://placehold.it/100x150" alt=""/>
				<figcaption class="work__main__caption">
					<div class="work__main__caption__text">Example</div>
				</figcaption>
			</figure>
			<figure class="work__main__figure">
				<img class="work__main__img" src="http://placehold.it/150x200" alt=""/>
				<figcaption class="work__main__caption">
					<div class="work__main__caption__text">Example</div>
				</figcaption>
			</figure>
			
		</article>
	</div>
</section>