* {
  box-sizing: border-box;
}
body {
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
	@extend %full-page;
}
h1 {
  font-weight: 100;
  font-size: 3em;
  margin: 0 0 .5em 0;
}
p{
  line-height: 1.5em;
  font-size: 1.2em;
}
a {
  color: $pink;
}
.right-sec {
  padding: 1em;
  width: 100%;
  @include breakpoint(screen-sm) {
    float: left;
  }
  @include breakpoint(screen-lg) {
    width: 50%;
    float:right;
  }
  @include breakpoint(screen-xx) {
    width: 66.6666%;
  }
}