.sidebar {
  width: 100%;
  padding-top: 4em;
  @include breakpoint(screen-sm) {
    padding-top: 0;
  }
  @include breakpoint(screen-lg) {
    width: 50%;
    float: left;
  }
  @include breakpoint(screen-xx) {
    width: 33.3333%;
  }
}
/* Nav */
.nav {
  padding: 1em;
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  overflow-x: scroll;
  white-space: nowrap;
  @include breakpoint(screen-sm) {
    background-color: transparent;
    border: none;
    position: static;
    width: 50%;
    float: left;
    text-align: left;
    overflow-x: auto;
    white-space: normal;
  }
  @include breakpoint(screen-lg) {
    position:fixed;
    top:0;
    left:0;
    width: auto;
  }
  &-link {
    color: $black;
    font-size: 1.5em;
    display: inline-block;
    text-decoration: none;
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
    @include breakpoint(screen-sm) {
      margin-right: 0;
      display: block;
      text-align: right;
      font-size: 2em;
      margin-bottom: 1em;
    }
    @include breakpoint(screen-lg) {
      display: inline;
      text-align: left;
      font-size: 1.5em;
      margin-right: 1em;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

/* Header */
.header{
  width: 100%;
  padding: 2em 3em;
  text-align: center;
  position: relative;
  @extend %clearfix;
  @include breakpoint(screen-sm) {
    width: 50%;
    float: left;
    text-align: left;
    position: static;
    padding: 1em;
  }
  @include breakpoint(screen-lg) {
    position:fixed;
    bottom:0;
    left:0;
    width: auto;
  }
  &-main {
    font-size: 10vw;
    font-weight: 100;
    width: 50%;
    right: 0;
    text-align: left;
    @extend %vertical-align;
    @include breakpoint(screen-sm) {
      font-size:4.5em;
      margin:0 0 .3em;
      width: auto;
      position: static;
      transform: none;
    }
    @include breakpoint(screen-lg) {
      margin-left: -.15em;
    }
  }
  &-sub {
    font-size:1.5em;
    margin:0 0 1.5em;
    letter-spacing:.3em;
    display: none;
    @include breakpoint(screen-sm) {
      display: block;
    }
  }
  &-img {
    float: left;
    width: 50%;
    padding-right: 2.5em;
    max-width: 200px;
    @include breakpoint(screen-sm) {
      float: none;
      width: auto;
      padding-right: 0;
    }
  }
}