.work {
	position: absolute;
	top: 100vw;
	transition: top 2s;
	box-sizing: border-box;
	@extend %full-page;
	&:target {
		top: 0;
	}
	&__wrap {
		background-color: $white;
		position: absolute;
		top: .5em;
    bottom: .5em;
    left: .5em;
    right: .5em;
    padding: 1em 0;
	}
	&__col {
		position: absolute;
		top: 1em;
		bottom: 1em;
		box-sizing: border-box;
	}
	&__aside {
		width: 25%;
		left: 0;
	}
	&__header {
		font-size: 1.8em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
	}
	&__close-bt {
		@extend %vertical-align;
		font-size: 3em;
		display: block;
		color: $black;
		text-align: center;
		text-decoration: none;
		width: 100%;
		font-weight: 300;
	}
	&__main {
		width: 75%;
		right: 0;
		overflow: scroll;
		bottom: 0;
		padding: 0 1em 1em;
		column-width: 20vw;
		column-gap: 1em;
		&__figure {
			width: 100%;
			position: relative;
			column-break-inside: avoid;
			margin: 0 0 1em 0;
			cursor: pointer;
			&:hover {
				.work__main__caption {
					opacity: 1;
					background-color: $transparent-pink;
				}
			}
		}
		&__img {
			width: 100%;
		}
		&__caption {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
			transition: opacity 1s;
			&__text {
				@extend %vertical-align;
				text-align: center;
    		width: 100%;
			}
		}
	}
}